@keyframes entrance-popup {
    0%   { transform: translateY(-2000px);  }
    70%  { transform: translateY(40px);     }
    90%  { transform: translateY(-10px);    }
    100% { transform: translateY(0);        }
}

@keyframes error {
    0%, 100%                    { transform: translateX(0);     }
    10%, 30%, 50%, 70%, 90%     { transform: translateX(-10px); }
    20%, 40%, 60%, 80%          { transform: translateX(10px);  }
}

@keyframes anime-bookmark {
        0%  {    transform: translateY(-100%);   }
        15% {    transform: translateY(8%);      }
        23% {    transform: translateY(-4%);     }
        28% {    transform: translateY(4%);      }
        32% {    transform: translateY(-2%);     }
        33% {    transform: translateY(0%);      }
        67% {    transform: translateY(-2%);     }
        72% {    transform: translateY(4%);      }
        78% {    transform: translateY(-4%);     }
        87% {    transform: translateY(8%);      }
        100% {    transform: translateY(-100%);   }

}


body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

p,
h1,
h2,
h3,
ul,
input {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

label {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/*----------BUTTON----------*/

.btn {
    padding: 10px 0;
    display: inline-block;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;;
    font-weight: 700px;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;

    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;

}

.btn-red {
    padding: 10px 45px;
    background: #ee3643;
}

.btn-red:hover {
    background: #ca2c37;
}

.btn-red:active {
    background: #ba2732;
}


.btn-prize {
    position: relative;
}

.btn-prize::after,
.btn-prize::before {
    content: "";
    position: absolute;
    right: -25px;
    width: 0;
    height: 0;

    border: solid transparent;
}

.btn-prize::after {
    border-color: #ffffff;
    border-left-color: #ee3643;
    border-width: 19px;
    margin-top: -10px;
}

.btn-prize:hover::after,
.btn-prize:hover::before {
    border-left-color: #ca2c37;
}

.btn-prize:active::after,
.btn-prize:active::before {
    border-left-color: #ba2732;
}

/*----------HEADER----------*/

.upperline {
    background: #293449;
    font-size: 0;
}

.emblema {
    float: left;
    width: 220px;
    padding: 7px 0px;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;;
    font-weight: 700px;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.emblema a {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;;
    font-weight: 700px;
    text-decoration: none;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
}

.emblema:hover {
    background: #ca2c37;
}

.emblema:active {
    background: #ba2732;
}

.upperline-left {
    float: left;
}

.search-header {
    float: left;
    vertical-align: top;
}

.search-header label {
    position: relative;
}

.search-header input::-webkit-input-placeholder {
    color: #ffffff;
}

.search-header input::-moz-placeholder {
    color: #ffffff;
}

.search-header input {
    width: 210px;
    padding-left: 50px;

    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 40px;
    color: #000000;
    border: none;
    outline: none;
    background-color: #293449;
}

.search-header label:hover::before {
    opacity: 0.9;
}

.search-header label:focus::before {
    opacity: 0.9;
}

.search-header input:focus {
    background-color: #ffffff;
}

.upperline-right-box {
    float: right;
}

.upperline-right {
    display: inline-block;
    width: 150px;

    vertical-align: top;
    text-align: center;
}

.upperline-right:last-child {
    margin-right: 0;
}

.upperline-right a {
    display: block;
    padding: 8px 10px;

    text-decoration: none;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
}

.bookmark {
    position: relative;
}

.cart {
    position: relative;
}

.bookmark a:hover,
.cart a:hover {
    color: #85898f;
}

.order {
    background: #63a63e;
}

.order:hover {
    background: #5fbb2d;
}


.order:active {
    background: #518534;
}


/*----------MIDLINE---------*/

.midline {
    background: #f1f5f7;
    font-size: 0;

}

.midline-content {
    float: left;
}

.midline-info {
    display: inline-block;
    width: 300px;
    margin: 47px 16px 47px 0;

    text-decoration: none;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    color: #ff0000;

    vertical-align: top;
}

.midline-info:last-child {
    margin-right: 0;
}

.description {
    margin-right: 30px;
    margin-left: 53px;
}

.contact p {
    width: 264px;

    text-align: center;
    font-size: 14px;
    color: #a9b1bc;
}

.tel {
    width: 264px;

    font-size: 21px;
    text-align: center;
    color: #ff0000;

    border: 4px solid #ffffff;
}

.login-box {
    float: right;
}

.btn-login {
    padding: 10px 26px;
    display: inline-block;

    text-decoration: none;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 21px;
    line-height: 24px;


    vertical-align: top;
    background: #ffffff;
}

.btn-login:hover {
    color: #ee3643;
}

.btn-login:active {
    color: #c5c5c5;
}

.entrance {
    margin-right: 10px;
    padding-left: 47px;
}


/*----------NAVIGATION--------*/

.main-navigation {
    float: left;
    width: 900px;
    margin-bottom: 65px;

    padding: 0 20px;
    font-size: 0;

    background: #32425c;
    border-bottom: 5px solid #293449;
}

.main-navigation a {
    padding: 14px 30px;
    display: block;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
}

.main-navigation span {
    padding: 14px 30px;
    display: block;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation li {
    display: inline-block;

    font-size: 14px;

    vertical-align: top;
}

.main-navigation a:hover {
    background: #293449;
}

.main-navigation a:active {
    background: #1d2739;
    color: #59616e;
}


/*----------FEATURES----------*/

.features {
    float: left;
    width: 940px;
    margin-top: 60px;
    margin-bottom: 55px;
    font-size: 0;
}

.features-item {
    position: relative;
    display: inline-block;
    width: 300px;
    margin-bottom: 20px;

    vertical-align: top;
}

.features-item h3,
.features-item a {
    display: inline-block;
    vertical-align: top;
}

.features1 {
    margin-right: 20px;

    background: #f6b22d;
}
.features2 {
    margin-right: 20px;

    background: #4aafde;
}
.features3 {
    background: #cc79d1;
}
.features4 {
    background: #85d179;
}
.features5 {
    margin-bottom: 0;

    background: #f6b22d;
}

.features3,
.features4,
.features5 {
    float: right;
}

.features-item h3 {
    margin: 25px 0 10px 22px;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.features-img {
    float: right;
    width: 140px;
    height: 120px;

    background: url("../img/sprite1.png") no-repeat;
}

.features1 .features-img {
     background-position: 40px 25px;
}
.features2 .features-img {
     background-position: 40px -105px;
}
.features3 .features-img {
     background-position: 40px -215px;
}
.features4 .features-img {
     background-position: 40px -335px;
}

 .features5 .features-img {
     background-position: 40px -450px;
 }

.btn-features {
   margin-left: 25px;
   width: 135px;

   background-color: rgba(0, 0, 0, 0.15);
}

.btn-features:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-features:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.new {
    position: absolute;
    top: 7px;
    right: -19px;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;

    border-bottom: 23px solid #ee3643;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    height: 0;
    width: 30px;

    transform: rotate(45deg);
}

/*---------SLIDER---------*/

.slider {
    float: left;
}

.slider input {
    display: none;
}

.slider-container {
    position: relative;
    width: 620px;
    min-height: 259px;
    overflow: hidden;
}

.slider-controls {
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 230px;

    vertical-align: top;
}

.slider-controls label {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 6px;

    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;

    cursor: pointer;
}

.slide-change {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;


    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
}

.slide-change-left {
    top: -100px;
    left: -280px;

    transform: rotate(-45deg);
}

.slide-change-right {
    top: -100px;
    left: 280px;

    transform: rotate(135deg);
}

#slide1:checked ~ .slider-controls label[for="slide1"],
#slide2:checked ~ .slider-controls label[for="slide2"] {
    background: #ca2c37;
}

.slides {
    display: none;
    min-height: 260px;
}

#slide1:checked ~ .slider-controls .slide-change-left {
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    cursor: default;

    opacity: 0.2;
}

#slide2:checked ~ .slider-controls .slide-change-left:hover {
    border-top: 3px solid #ca2c37;
    border-left: 3px solid #ca2c37;
}

#slide2:checked ~ .slider-controls .slide-change-right {
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    cursor: default;

    opacity: 0.2;
}

#slide1:checked ~ .slider-controls .slide-change-right:hover {
    border-top: 3px solid #ca2c37;
    border-left: 3px solid #ca2c37;
}

.slide-description {
    position: absolute;
    width: 620px;

    background: rgba(0, 0, 0, 0.3);
}

.slides {
    display: none;
    min-height: 300px;
}

#slide1:checked ~ .main-slider .slides:nth-child(1) {
    display: block;
}
#slide2:checked ~ .main-slider .slides:nth-child(2) {
    display: block;
}

.slide-description h3 {
    margin: 23px 0 0 25px;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

.slide-description p {
    margin: 0 0 22px 25px;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.btn-slider {
    position: absolute;
    margin-top: 200px;
    margin-left: 25px;
}


/*--------POPULAR-------*/

.popular {
    font-size: 0;
}

.popular-head {
    background: #f7f3ec;
    padding: 25px;
}

.popular-head h2 {
    display: inline-block;

    vertical-align: top;
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-head a {
    float: right;
}

.instrument-catalog {
    float: left;
}

.item-box {
    position: relative;
    display: inline-block;
    width: 215px;
    margin: 20px 11px;

    vertical-align: top;

    border: 1px solid #f7f3ec;
}

.item-title {
    margin: 10px 25px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.item-box strike {
    display: block;
    width: 100%;
    min-height: 20px;
    margin-bottom: 5px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #999999;
    text-align: center;
}

.item-img {
    display: table-cell;
    margin: 0 auto;
    text-align: center;
}

.item-box:first-child {
     margin-left: 0;
}

.item-box:last-child {
     margin-right: 0;
}

.btn-prize {
    margin: 0 38px;
    margin-bottom: 20px;
}

.item-box:hover,
.company-box:hover {
    box-shadow: 0 10px 25px rgba(41,52,73,0.5)
}

.buy-item {
    position: absolute;
    left: 42px;
    top: 40px;

    opacity: 0;
    transition: 0.3s;
}

.item-box:hover .buy-item {
    opacity: 1.0;
}

.item-box:hover .item-img {
    opacity: 0;
}

.btn-buy,
.btn-bookmark {
    width: 135px;
}

.btn-buy {
    padding: 9px;
    margin-bottom: 10px;

    background: #63a63e;
    box-shadow: 0 3px 0 0 rgba(54,115,21,1);
}

.btn-buy:hover {
    background: #5fbb2d;
}

.btn-buy:active {
    padding: 10px;
    margin-bottom: 8px;
    background: #518534;
    box-shadow: none;
}

.btn-bookmark {
    padding: 8px;

    color: #32425c;
    background: #ffffff;
    border: 2px solid #63a63e;
}

.btn-bookmark:hover {
    border-color: #32425c;
}

.btn-bookmark:active {
    color: #c1c6ce;

    border-color: #c1c6ce;
}

.company-list {
    float: left;
    margin-bottom: 75px;
}

.company-box {
    display: inline-block;
    width: 215px;
    height: 145px;
    margin: 20px 11px;

    vertical-align: top;
    border: 1px solid #f7f3ec;
}

.company-box:first-child,
.company-box:nth-child(5) {
     margin-left: 0;
}

.company-box:last-child,
.company-box:nth-child(4){
     margin-right: 0;
}

.company-img {
    width: 215px;
    height: 145px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*----------SERVICE----------*/

.service-container {
    background: #f2f6f8;
}

.service {
    position: relative;
    margin-bottom: 75px;
}

.service-head {
    width: 400px;
    margin-right: 540px;
    margin-bottom: 70px;
    padding-top: 60px;
}

.service-container h2 {
    margin-bottom: 35px;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.service-container p{
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.slider-service input {
    display: none;
}

.slider-service-container {
     position: relative;
     width: 940px;
     min-height: 300px;
     margin: 0 auto;
     overflow: hidden;
}

.slider-service-controls {
    float: left;
    margin-right: 80px;
}

.slide-service-description {
    position: relative;
    display: inline-block;
    width: 620px;
    z-index: 40;

    vertical-align: top;
}

.slider-service-controls label {

    display: block;
    width: 225px;
    padding: 15px;
    padding-right: 0;

    color: #ffffff;
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 21px;
    line-height: 30px;

    background: #32425c;

    cursor: pointer;
}

.slider-service-controls label:hover {
    background: #293449;
}

.service-delivery {
    border-bottom: 1px solid #293449;
}

.service-garant {
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.service-credit {
    border-top: 1px solid #405069;
}

.service-controls-line {
    position: absolute;
    width: 10px;
    height: 272px;
    top: -40px;
    left: 230px;

    background: url("../img/shadow-service.png") no-repeat;
}

#slide-service1:checked ~ .slider-service-controls label[for="slide-service1"],
#slide-service2:checked ~ .slider-service-controls label[for="slide-service2"],
#slide-service3:checked ~ .slider-service-controls label[for="slide-service3"] {
    background-color: #ffffff;
    color: #32425c;
}

.slide-service-description::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;

    width: 468px;
    height: 285px;
}

.delivery-description::after {
    background: url("../img/auto.png") no-repeat right;
}

.garantie-description::after {
    background: url("../img/garant.png") no-repeat right;
}

.credit-description::after {
    background: url("../img/credit.png") no-repeat right;
}

.slides-service {
    display: none;
    min-height: 300px;
}

#slide-service1:checked ~ .main-slider-service .slides-service:nth-child(1) {
  display: block;
}
#slide-service2:checked ~ .main-slider-service .slides-service:nth-child(2) {
  display: block;
}
#slide-service3:checked ~ .main-slider-service .slides-service:nth-child(3) {
  display: block;
}

.delivery {
    position: relative;

    width: 272px;
    z-index: 40;
}

.garantie {
    position: relative;

    width: 350px;
    z-index: 40;
}

.credit {
    position: relative;

    width: 280px;
    z-index: 40;
}



/*----------TECHNOMART INFO---------*/


.technomart-info {
    margin-top: 75px;
    margin-bottom: 85px
}

.technomart-info h2 {
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.technomart-info p {
    margin: 20px 0;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.about {
    float: left;
    width: 540px;
}

.map {
    float: right;
    width: 300px;
}

.map p {
    display: block;
    padding-right: 100px;
}

.about ul {
    list-style: none;
}

.about li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 13px;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.about li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    margin-top: -2px;

    width: 20px;
    height: 2px;

    background: #ee3643;
}

.about .btn {
    margin-top: 10px;
    padding: 10px 40px;
}

.map .btn {
    margin-top: 10px;
    width: 210px;
}

.map-mini {
    width: 300px;
    height: 159px;
    margin-top: 10px;
    margin-bottom: 15px;
}


/*-----------DOWN LINE----------*/

.downline {
    background: #32425c;
    font-size: 0;
}

.downline-1 {
    width: 100%;
    float: left;
}

.down-emblema {
    padding: 15px 0;
    margin-right: 170px;
    margin-top: 3px;

    font-size: 30px;
}

.downline-1 ul {
    float: right;
    margin-top: 25px;

    vertical-align: top;
}

.downline-1 li {
    display: inline-block;

    margin-right: 58px;

    vertical-align: top;
}

.downline-1 li:last-child {
    margin-right: 0;
}

.nav-down-1 a {
    display: block;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
}

.nav-down-1 a:hover {
    text-decoration: underline;
}

.nav-down-1 a:active {
    color: #8b96a4;
    text-decoration: none;
}

.adres {
    float: left;
    width: 330px;
    margin: 28px 70px 40px 0;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
}

.downline-2 ul {
    float: right;
}

.downline-2 li {
    display: inline-block;

    margin-top: 28px;
    margin-right: 58px;

    vertical-align: top;
}

.downline-2 li:last-child {
    margin-right: 0;
}

.nav-down-2 a {
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #bba174;
}

.nav-down-2 a:hover {
    text-decoration: underline;
}

.nav-down-2 a:active {
    color: #998a6e;
    text-decoration: none;
}
/*---------FOOTER----------*/

footer {
    background: #293449;
    font-size: 0;
}

.footer-content {
    padding: 30px 0;
}

.copyright {
    float: left;
    width: 230px;
    margin-right: 150px;
}

.footer-content span {
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.social {
    float: left;
    width: 200px;
    margin-right: 60px;

    text-align: center;
}

.social-btn {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 5px;

    background: #212a3a url("../img/sprite.png") no-repeat;
    background-color: #212a3a;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    font-size: 0;

    vertical-align: top;
}

.btn-vk {
    background-position: -7px -213px;
}

.btn-fb {
    background-position: 0 -11px;
}

.btn-inst {
    background-position: -4px -115px;
}

.social-btn:hover {
    background-color: #ee3643;
}

.social-btn:active {
    background-color: #ee3643;
}


.feedback {
    float: left;
    width: 150px;
}

.create {
    float: right;
    width: 100px;
}

.create a,
.feedback a {
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #bba174;
}


/*---------CATALOG BREADCRUMPS----------*/

.breadcrumps {
    width: 400px;

    font-size: 0;
}

.breadcrumps ul {
    list-style: none;
}

.breadcrumps a {
    text-decoration: none;
}

.breadcrumps li {
    position: relative;
    display: inline-block;
    padding: 20px 20px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    vertical-align: top;
}

.breadcrumps li:first-child {
    padding-left: 0;
}

.breadcrumps li:last-child {
    padding-right: 0;
}

.breadcrumps li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    right: 0;
    top: 24px;

    border-top: 1px solid #c1c6ce;
    border-right: 1px solid #c1c6ce;

    transform: rotate(45deg);
}

.breadcrumps li:last-child::after {
    display: none;
}

/*----------CATALOG CONTENT---------*/
        /*-----TITLE-----*/

.instrument {
    width: 100%;
    margin-bottom: 20px;

    background: #f1f5f7;
}

.instrument h1 {
    padding: 25px;
    padding-left: 30px;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #32425c;
    text-transform: uppercase;
}

/*----------CATALOG CONTENT---------*/
        /*-----ASIDE-LEFT-----*/

.side-bar {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.title-bar {
    background: #f7f3ec;
    border-radius: 3px;
}

.title-bar h3 {
    padding: 10px 16px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.filter-title {
    padding: 13px 0;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.cost-controls {
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;

    background: #f7f3ec;
    border-radius: 3px;
}

.cost-scale {
    position: absolute;
    width: 190px;
    height: 2px;
    top: 50%;
    left: 15px;

    background: #e1e1e1;
}

.cost-bar {
     position: relative;
     width: 140px;
     height: 2px;

     background: #00ca74;
}

.cost-bar {
     position: relative;
     width: 140px;
     height: 2px;
     background: #00ca74;
}

.cost-toggle {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: -10px;

    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ABABAB;
    box-shadow: 0 2px 1px 0 #CFCFCF;
}

.cost-toggle-min {
    left: 0;
}

.cost-toggle-max {
    left: 130px;
}

.cost-box {
    position: relative;
    padding-bottom: 25px;

    border-bottom: 2px solid #f7f3ec;
}

.cost-box input {
    width: 95px;
    height: 38px;

    text-align: center;

    border: none;
    background: #f7f3ec;
    border-radius: 3px;
    outline: none;
}

.cost-box  span {
    padding: 0 8px;

    font-size: 18px;
}

.brend-item,
.power-item {
    margin-bottom: 15px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}

.brend-item input[type="checkbox"],
.power-item input[type="radio"] {
    display: none;
}

.label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom,
.radio-custom {
    display: inline-block;

    position: relative;
    margin-right: 25px;
    width: 18px;
    height: 18px;

    vertical-align: top;

    border: 2px solid #c1c1c1;
    border-radius: 3px;
}

.radio-custom {
    border-radius: 50%;
    border: 3px solid #c1c1c1;
}

.checkbox-custom:hover,
.radio-custom:hover {
    border-color: #b5b5b5;
}

.brend-item input[type="checkbox"]:checked + .checkbox-custom::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    top: -5px;
    left: 1px;

    border-top: 5px solid #c1c1c1;
    border-right: 5px solid #c1c1c1;

    transform: rotate(135deg);
}

.power-item input[type="radio"]:checked + .radio-custom::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 5px;
    left: 5px;

    border-radius: 50%;
    background: #c1c1c1;
}

.power-item input[type="radio"]:checked:hover + .radio-custom::after {
    background: #b5b5b5;
}

.brend-item input[type="checkbox"]:checked:hover + .checkbox-custom::after {
    border-top: 5px solid #b5b5b5;
    border-right: 5px solid #b5b5b5;
}

.btn-filter {
    padding: 8px 38px;
    margin-top: 60px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    background: #ffffff;
    border: 1px solid #c1c1c1;
}

.btn-filter:hover {
    border-color: #bdc6ca;
}

.btn-filter:active {
    border-color: #ee3643;
}

/*----------CATALOG CONTENT---------*/
        /*-----CATALOG-----*/

.catalog {
    float: right;
    width: 700px;
    font-size: 0;
}

.catalog-sort ul {
    list-style: none;
}

.catalog-sort a {
    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #c1c1c1;
    text-transform: uppercase;
    text-decoration: none;

    border-bottom: 1px dotted #ee3643;
}

.catalog-sort a:hover {
    color:#000000;
    border-bottom: 1px solid #ee3643;
}

.catalog-sort a:active {
    color:#ee3643;
    border-bottom: none;
}

.sort h3 {
    margin-right: 72px;
}

.catalog-sort li {
    margin-right: 68px;
    display: inline-block;

    vertical-align: middle;
}

.catalog-sort li:nth-child(4) {
    margin-right: 0;
}

.catalog-sort .sort-dir {
    position: relative;
    margin-right: 0;
    margin-left: 30px;
}

.sort-dir-down::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -5px;

    border: 8px solid transparent;
    border-top: 8px solid #c1c1c1;
}

.sort-dir-up::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -10px;

    border: 8px solid transparent;
    border-bottom: 8px solid #c1c1c1;
}

.sort-dir-down:hover::before {
    border-top: 8px solid #000000;
}

.sort-dir-up:hover::before {
    border-bottom: 8px solid #000000;
}

.sort-dir-down:active::before {
    border-top: 8px solid #ee3643;
}

.sort-dir-up:active::before {
    border-bottom: 8px solid #ee3643;
}


.catalog-items {
    float: right;
    width: 700px;
}

.catalog-items .item-box {
    margin-left: 0;
    margin-right: 23px;
    margin-bottom: 0;
}

.catalog-items .item-box:nth-child(3n)
 {
    margin-right: 0;
}

/*----------CATALOG CONTENT---------*/
        /*-----PAGINATOR-----*/

.paginator {
    float: left;
    width: 285;
    margin: 50px 0;
}

.paginator ul {
    list-style: none;
}

.paginator li {
    display: inline-block;
}

.paginator a {
    padding: 10px 16px;

    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.btn-paginator {
    margin-right: 15px;
    border: 1px solid #e5e5e5;
}

.paginator .btn-paginator-next {
    padding: 10px 40px;
}

.paginator .paginator-active {
    color: #ffffff;
    background: #ee3643;
}

.btn-paginator:hover {
    border: 1px solid #bdc6ca;
}

.btn-paginator:active {
    border: 1px solid #ee3643;
}

/*----------ABOUT-INSTRUMENT---------*/

.about-instrument {
    padding: 60px 0;
}


/*----------POPUP FEEDBACK----------*/

.popup-feedback-mod {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -310px;

    z-index: 60;
}

.popup-feedback {
    width: 620px;

    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 50px rgba(0, 1, 1, 0.5);
    background: #ffffff;
}

.feedback-content {
    font-size: 0;
    margin: 45px 80px 38px;
    width: 460px;
}

.feedback-label {
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
}

.feedback-input-half {
    display: inline-block;
    width: 220px;
    margin-right: 10px;
    margin-bottom: 20px;

    vertical-align: top;
}

.feedback-input-half .feedback-form-text {
    margin-top: 5px;
    padding: 9px 15px;
    width: 190px;
}

.feedback-input-half:last-child {
    margin-right: 0;
}

.feedback-form-text {
    font-family: "PT Sans", Arial, Helvitica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #c2c2c2;

    outline: none;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
}

.feedback-form-text:hover {
     border: 1px solid #A2A9AC;
}

.feedback-textarea .feedback-form-text {
    width: 430px;
    margin-top: 5px;
    padding-top: 9px;
    padding-left: 15px;

    overflow: auto;
    resize: none;
}

.feedback-submit {
    width: 620px;
    background: #f1f1f1;
}

.btn-send {
    margin: 37px 80px;
    width: 460px;
}

/*----------POPUP BIG MAP----------*/

.popup-map {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -470px;

    z-index: 60;
}

.map-big {
    width: 940px;
    height: 450px;

    box-shadow: 0 10px 70px rgba(0, 1, 1, 0.5);
}


/*----------POPUP ORDER---------*/

.order-popup-mod {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -310px;

    z-index: 60;
}

.popup-order {
    width: 620px;

    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 50px rgba(0, 1, 1, 0.5);
    background: #ffffff;
}

.item-add {
    margin: 65px 80px;
    width: 415px;
    text-align: right;
}

.rond {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    margin-top: -15px;

    border-radius: 50%;
    background: #63a63e;
}

.rond::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 20px;

    width: 30px;
    height: 18px;

    border-top: 8px solid #ffffff;
    border-right: 8px solid #ffffff;

    transform: rotate(135deg);
}

.item-add h2 {
    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.order-submit {
    width: 460px;
    padding: 38px 80px;
    background: #f1f1f1;
}

.btn-order {
    padding: 10px 0;
    width: 220px;
}

/*--------POPUP LOGIN--------*/

.popup-login-mod {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -310px;

    z-index: 60;
}

.popup-login {
    width: 620px;

    border-top: 7px solid #ee3643;
    box-shadow: 0 20px 50px rgba(0, 1, 1, 0.5);
    background: #ffffff;
}

.remember input {
    display: none;
}

.remember .checkbox-custom {
    margin-right: 0px;
}


.remember input[type="checkbox"]:checked +  .checkbox-custom::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 7px;
    top: -2px;
    left: 1px;

    border-top: 5px solid #c1c1c1;
    border-right: 5px solid #c1c1c1;

    transform: rotate(135deg);
}

.remember {
    width: 455px;
    margin-left: 80px;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
}

.remember a {
    float: right;
}

.popup-login .feedback-input-half {
    margin-bottom: 0px;
}

/*--------BOOKMARKS-ADD POPUP--------*/

.popup-bookmark-add {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;

    z-index: 60;
}

.bookmark-add {
    width: 460p;

    border-top: 7px solid #ee3643;
    border-bottom: 14px solid #f1f1f1;
    box-shadow: 0 20px 50px rgba(0, 1, 1, 0.5);
    background: #ffffff;

}

.bookmark-add h2 {
    padding: 15px;

    font-family: "Cuprum", Arial, Helvitica, sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.popup-anime-bookmark {
    animation: anime-bookmark 2.0s;
}

/*--------OVERLAY $$ CLOSE POPUP-------*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;

    background: rgba(0, 0, 0, 0.5);
}

.overlay-show {
    display: block;
    animation: background 0.6s;
}

.close-popup {
    position: absolute;
    top: 12px;
    right: 5px;
    width: 35px;
    height: 35px;

    font-size: 0;

    border: none;
    outline: none;
    border-radius: 50%;
    background: transparent;

    cursor: pointer;
}

.close-popup::before,
.close-popup::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;

    background: #ee3643;
}

.close-popup::before {
    transform: rotate(45deg);
    top: 17px;
    left: 6px;
}

.close-popup::after{
    transform: rotate(-45deg);
    top: 17px;
    left: 6px;
}

.close-popup:hover::before,
.close-popup:hover::after {
    background: #ca2c37;
}

.show-popup {
    display: block;
}

.popup-anime {
    animation: entrance-popup  0.7s;
}

.error {
    animation: error 0.7s;
}